<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home oage</title>
</head>
<body>
    <!-- <%- include("") %> -->
   <h1><a href="">add cars</a></h1>
   <h1><a href="/user/singup">singup</a></h1>
</body>
</html>