<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <center>

        <a href="/view/index.html">Home</a>
        <a href="/view/signup.html">Signup</a>
        <a href="/view/login.html">Login</a>

    <br>
    <form id="taskData">
        <input type="text" id="task" placeholder="Enter your task" required>
        <input type="submit" value="Add Task">
    </form>

    <div id="taskList"></div>
    
</center>
</body>
<script src="./main.js"></script>
</html>